.settings {
    display: flex;

    .settingsBlock {
        width: 100%;
        min-height: $minHeight;
        background: linear-gradient(165deg, $color-1 60%, $black 100%);
        border-radius: $borderRadius;
        display: grid;
        grid-template-rows: 10% 60% 30%;
        justify-items: center;

        h3 {
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: 0.2rem;
            color: $color-3;
            text-shadow: 3px 6px 9px $black;
        }
        .changeTheme {
            width: 50%;
            border: 1px solid $black;
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            height: 40%;
            .lightTheme {
                width: 40px;
                height: 40px;
                background: rgb(27, 39, 105);
                border-radius: 50%;
                cursor: pointer;
                border: 3px solid rgba(255, 255, 255, 0.868);
            }
            .darkTheme {
                background: $black;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                border: 3px solid rgba(255, 255, 255, 0.868);


            }
        }
    }
}

@media screen and (max-width: 850px) {
    .settings {
        display: block;
        .settingsBlock {
            min-height: 90vh;
        }
    }
}
